body{
  font-family: 'Nunito', sans-serif;
  background-color: #0B1C2B;}

.container-general{
    display: flex;
    flex-direction: row;
    justify-content: center;}

::-webkit-scrollbar {
      width: 3px;}

::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 6px;}

::-webkit-scrollbar-thumb:hover {
        background-color: #555;}
