/*------------------ Books ------------*/
.container-books{
   opacity: .8;
   color: white;
   width: 65%;
   overflow: hidden;
   border-radius: 10px;
   margin: 5px;}

@media screen and (max-width: 1006px) {
  .container-books{
    width: 100%}}

.container-elements{
  overflow: auto;
  margin-top: 10px;
  height: 74vh;}

@media screen and (max-width: 1006px) {
  .container-elements{
    margin-top: 10px;
    height: 67vh;}}

.title-book{
   margin-top: 35px;
   margin-left: 30px;}

.image-book{
   width: 140;
   height: 200px;
   margin: 20px}

.img-books:hover{
   -webkit-box-shadow: -2px 5px 45px -1px rgba(31,182,242,1);
   -moz-box-shadow: -2px 5px 45px -1px rgba(31,182,242,1);
    box-shadow: -2px 5px 45px -1px rgba(31,182,242,1)}


@media screen and (max-width: 470px) {
  .image-book{
    width: 120;
    height: 170px;
    margin: 18px;
    margin-top: 50px;}}

.container-book{
   display: flex;
   flex-wrap: wrap;
   position: relative;
   top: -30px;
   min-height: 450px;
   align-items: center;
   justify-content: space-around}

.info-books{
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   top: -18px}

 .text-info-books{
   font-size: 14px}

/*------------------Book---------------------*/
.container-show-book{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 95%;
   background-color: #132434}

.info-show-book{
   display: flex;
   flex-direction: column;
   width: 50%}

.info-show-book-main{
   display: flex;
   flex-direction: row}

.image-show-book{
   width: 180;
   height: 240px;
   margin: 20px}

/*----------------- Form --------------------*/
.container-formulario{
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-between;}

.container-input{
   font-display: flex;
   flex-direction: column;
   margin-left: 30px;}

.input{
   width: 100%;
   margin-top: 15px;}

.default-text{
  font-size: 45px;
  position: relative;
  top: 160px;
  text-align: center;}

.icon{
  position: relative;
  right: 2px;
  margin-top: -3px;
  top: 0px;}

.icon-two{
    position: relative;
    right: 2px;
    margin-top: 2.5px;
    top: 0px;}

.button-two{
    color: black;
    position: relative;
    top: 50px;
    left: 124.5px;
    border: #324356;
    background-color: antiquewhite;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;}

.button-four{
      color: black;
      position:relative;
      top: 25px;
      border: #324356;
      background-color: antiquewhite;
      width: 25px;
      height: 25px;
      text-align: center;
      cursor: pointer;}

/* Formulario y titulo */
@media screen and (max-width: 740px) {
   .title-book{
     font-size: 23px;}
   
     .label-form{
      font-size: 17px;}
    
    .container-input-two{
        width: 70%;
        position: relative;
        left: 34px;
        top: 10px}
    
    .default-text{
          font-size: 35px;}

    .container-input{
        width: 50%;}
        .input{
          width: 40%;
          margin-left: 0;}}


/* ++++++++++++Venta Emergente++++++++++++      */

.data-book{
  width: 600px;
  border: #fff solid 1px;
  border-radius: 3%;
  height: 400px;
  position: fixed;
  color: #000;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  top: 58%; 
  left: 35%; 
  transform: translate(-50%, -50%);}

.image-book-two{
  width: 40%;
  justify-content: start;
  margin-left: 20px;
  height: 280px;
  cursor: pointer}

.button-tree{
  color: red;
  font-size: 23px;
  position: relative;
  width: 20px;
  text-align: end;
  margin-top: 2px;
  left: -10px;
  width: 100%;
  cursor: pointer;}

.title-window{
  margin-top: -37px;
  margin-left: 20px;
  font-size: 30px;}

.descripcion-book{
  width: 50%;
  margin-top: -40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;}

.title-data{
  color: red;
  font-size: 20px;}

.data-two{
  width: 50%;
  margin-top: -50px;}

.data-tree{
  width: 35%;
  margin-left: 35px;
  margin-top: -50px;}

.parrafos{
  position: relative;
  font-size: 15px;
  top: -15px;}

.container-data{
  display: flex;
  flex-direction: row;}

.button-add-list{
  width: 80%;
  color: #23a12b;
  text-align: center;
  position: relative;
  font-size: 20px;
  top: -50px;
  cursor: pointer;}

@media screen and (max-width: 900px) {
    .data-book{
      left: 50%;
      height: 385px;
      width: 320px;}

    .descripcion-book{
      margin-top: -40px;}

    .image-book-two{
        position: relative;
        top: 47px;
        width: 36%;
        height: 200px;}

    .title-window{
         font-size: 20px;}

     .title-data{
        font-size: 17px;}

     .parrafos{
         font-size: 14px;}

      .data-two{
        width: 40%;}

      .button-add-list{
        font-size: 17px;
        width: 90%;}}


/*------------Search for filters---------*/
.container-input{
   display: flex;
   flex-direction: row;
   width: 310px;
   margin-top: 25px}

.input{
   background-color: transparent;
   width: 90%;
   outline: none;
   color: #fff;
   height: 25px;
   border: none}

.input:focus{
  boder: none;
  border-bottom: 2px solid #1fb6f2}

.container-input-two{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-around}

.container-generos{
  margin: 3px;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 18px;
  padding: 5px 10px }

.container-generos:hover {
  background-color: #1fb6f2;
  border: 1px solid #1fb6f2;
  cursor: pointer;
  -webkit-box-shadow: -2px 5px 45px 2px rgba(31,182,242,1);
  -moz-box-shadow: -2px 5px 45px 2px rgba(31,182,242,1);
  box-shadow: -2px 5px 45px 2px rgba(31,182,242,1)}

