/*------------------ Books ------------*/
.container-books{
   opacity: .8;
   color: white;
   width: 65%;
   overflow: hidden;
   border-radius: 10px;
   margin: 5px;}

@media screen and (max-width: 1006px) {
  .container-books{
    width: 100%}}

.container-elements{
  overflow: auto;
  margin-top: 10px;
  height: 74vh;}

@media screen and (max-width: 1006px) {
  .container-elements{
    margin-top: 10px;
    height: 67vh;}}

.title-book{
   margin-top: 35px;
   margin-left: 30px;}

.image-book{
   width: 140;
   height: 200px;
   margin: 20px}

.img-books:hover{
   -webkit-box-shadow: -2px 5px 45px -1px rgba(31,182,242,1);
   -moz-box-shadow: -2px 5px 45px -1px rgba(31,182,242,1);
    box-shadow: -2px 5px 45px -1px rgba(31,182,242,1)}


@media screen and (max-width: 470px) {
  .image-book{
    width: 120;
    height: 170px;
    margin: 18px;
    margin-top: 50px;}}

.container-book{
   display: flex;
   flex-wrap: wrap;
   position: relative;
   top: -30px;
   min-height: 450px;
   align-items: center;
   justify-content: space-around}

.info-books{
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   top: -18px}

 .text-info-books{
   font-size: 14px}

/*------------------Book---------------------*/
.container-show-book{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 85%;
   background-color: #132434}

.info-show-book{
   display: flex;
   flex-direction: column;
   width: 50%}

.info-show-book-main{
   display: flex;
   flex-direction: row}

.container-image-show-book{
   width: 40%}

.image-show-book{
   width: 180;
   height: 240px;
   margin: 20px}


.info-show-book-main-data{
   position: relative;
   top: 25px;
   width: 90%}

.info-show-book-main-data-icons{
   width: 100%;
   display: flex;
   justify-content: end}

.info-show-book-main-data-icon{
   cursor: pointer;
   margin: 7px}

.info-show-book-button{
   display: flex;
   position: relative;
   top: 20px;
   flex-direction: row;
   justify-content: space-between}



@media screen and (max-width: 800px){
   .info-show-book-button{
       flex-direction: column}
   
    .button-show-card{
      margin: 10px}

    .info-show-book-main-data{
      width: 100%}
 
    .info-show-book{
      width: 85%}

    .container-image-show-book{
      display: flex;
      justify-content: center;
      width: 100%}}

@media screen and (max-width: 1260px){
   .info-show-book-button{
        top: 0}

   .info-show-book-main-data{
        top: -20px}

   .info-show-book-main{
        flex-direction: column}}

/*------------------Share--------------------*/
.container-share-book{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px}

.share-book-icon{
  position: relative;
  top: 3px;
}

/*----------------- Form --------------------*/
.container-formulario{
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-between;}

.default-text{
  font-size: 45px;
  position: relative;
  top: 160px;
  text-align: center;}

.icon{
  position: relative;
  right: 2px;
  margin-top: -3px;
  top: 0px;}

.icon-two{
    position: relative;
    right: 2px;
    margin-top: 2.5px;
    top: 0px;}

.button-two{
    color: black;
    position: relative;
    top: 50px;
    left: 124.5px;
    border: #324356;
    background-color: antiquewhite;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;}

.button-four{
      color: black;
      position:relative;
      top: 25px;
      border: #324356;
      background-color: antiquewhite;
      width: 25px;
      height: 25px;
      text-align: center;
      cursor: pointer;}

/* Formulario y titulo */
@media screen and (max-width: 740px) {
   .title-book{
     font-size: 22px;}
   
     .label-form{
      font-size: 17px;}
    
    .container-input-two{
        width: 70%;
        position: relative;
        left: 34px;
        top: 10px}
    
    .default-text{
          font-size: 35px;}}


@media screen and (max-width: 900px) {
    .data-book{
      left: 50%;
      height: 385px;
      width: 320px;}

    .descripcion-book{
      margin-top: -40px;}

    .image-book-two{
        position: relative;
        top: 47px;
        width: 36%;
        height: 200px;}

    .title-window{
         font-size: 20px;}

     .title-data{
        font-size: 17px;}

     .parrafos{
         font-size: 14px;}

      .data-two{
        width: 40%;}

      .button-add-list{
        font-size: 17px;
        width: 90%;}}


/*------------Search for filters---------*/
.container-input{
   display: flex;
   flex-direction: row;
   width: 310px;
   font-display: flex;
   margin-left: 30px;
   margin-top: 25px}

.input{
   background-color: transparent;
   width: 90%;
   width: 100%;
   margin-top: 15px;
   outline: none;
   color: #fff;
   height: 25px;
   border: none}

.input:focus{
  boder: none;
  border-bottom: 2px solid #1fb6f2}

.container-input-two{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-around}

.container-generos{
  margin: 3px;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 18px;
  padding: 5px 10px }

.container-generos:hover {
  background-color: #1fb6f2;
  border: 1px solid #1fb6f2;
  cursor: pointer;
  -webkit-box-shadow: -2px 5px 45px 2px rgba(31,182,242,1);
  -moz-box-shadow: -2px 5px 45px 2px rgba(31,182,242,1);
  box-shadow: -2px 5px 45px 2px rgba(31,182,242,1)}

@media screen and (max-width: 550px){
   .container-formulario{
       flex-direction: row}

    .container-input{
       width: 45%}

    .icon-input-show{
	position: relative;
       left: 20px;
    }

    .input{
       font-size: 14px;
       width: 90%}}
