.container-login{
   width: 100%;
   display: flex;
   overflow-y: hidden;
   justify-content: center;}

.container-pass{
   width: 95%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center}

.title-login{
   font-size: 20px;
   text-align: center;
   color: #fff;
   margin: 260px;
   width: 38%}

.text-login{
   font-size: 15px;
   color: #6A7D3B;
   text-align: center;
   font-family: bold;
   cursor: pointer; 
   position: relative;
   top: -10px}

.text-verify{
   color: #6A7D3B;
   font-size: 13px;
   text-align: center}

@media screen and (max-width: 650px){
 .title-login{
   width: 85%;
 } 

}
