.container-navbar{
    opacity: .8;
    color: white;
    width: 20%;
    z-index: 0;
    border-radius: 10px;
    margin: 5px;}

.title-menu{
    background-color: #0B2B3A;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 4px 17px 0px;
}

@media screen and (max-width: 1006px) {
    .container-navbar{
        position: fixed;
        right: 0;
	z-index: 3;
        min-height: 90vh;
        width: 70%}
    }

.container-list-book{
    display: flex; 
    flex-direction: column;
    position: relative;
    height: 25vh;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 4px 17px 0px;
    background-color: #0B2B3A;
    border-radius: 15px;
    overflow: auto;
    justify-content: space-around;}


.button{
    color: red;
    position: relative;
    top: 25.5px;
    left: 125.5px;
    background-color: antiquewhite;
    border: #324356;
    width: 20px;
    text-align: center;
    margin: 4px;
    cursor: pointer;}

.default-text-list{
    font-size: 30px;
    position: relative;
    top: 160px;
    text-align: center;}

/*---------------------ButtonNavbar----------------------*/
.button-navbar{
    height: 65px;
    position: absolute;
    top: 57px;
    z-index: 3;;
   margin-left: 80%; 
    cursor: pointer;
    border-radius: 27px ;}

.icon-list{
    margin: 15px;}

.container-number-list{
    position: absolute;
    color: red;
    font-size: 13px;
    top: 8px;
    margin-top: 4px;
    margin-left: -3px;
    right: 45px;
    width: 18px;
    z-index: 5;
    color: red;
    border-radius: 20px}

.number-list{
    margin: 1px;
    text-align: center;}

.button-close-list{
    color: red;
    font-size: 30px;
    position: absolute;
    right: 0;
    margin: 10px;
    top: 0}

/*Navbar ---------------------------------------*/

.link-navbar{
   height: auto;
   text-decoration: none;
   color: #fff;
   border-bottom: 1px solid rgba(0, 212, 250, 0.08)}

.link-navbar:hover{
   background-color: #0C3447}

.text-link-navbar{
   position: relative;
   font-family: "Poppins", serif;
   font-weight: 350;
  font-style: normal;
   left: 25px;
   top: -3px;
   width: 200px}

.list-length{
   color: red;
   font-size: 13px;
   position: relative;
   top: -5px;
}
